{% extends 'base.html.twig' %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <div class="big-ctn">
        <div class="ctn-project">
            {% for project in projects %}
                <div class="box">
                    <img class="box-img" src="{{ vich_uploader_asset(project, 'imageFile') }}" alt="">
                        <div class="middle">
                            <div class="text">
                                {{ project.title }}
                            </div>
                        </div>
                    <a class="button" id="{{ project.id }}" data-toggle="modal" data-target="#Modal">LEARN MORE</a>
                </div>
            {% endfor %}
        </div>
    </div>
        <div class="loading" style="width=400px; height=400px; background=red;"></div>
        <div aria-labelledby="exampleModalLabel" class="modal fade" id="Modal" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content"></div>
            </div>
        </div>
{% endblock %}
{% block javascripts %}
             <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}
