{% extends 'dashboard/base_dash.html.twig' %}
{% block title %}List of degrees{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
   <div class="dash-tool">
        <div class="ctn-dash-list-project">
        {% for degree in degrees %}
            <div class="dash-list-project">
                <div class="dash-list-project-title">{{ degree.title }}</div>
                <div class="ctn-list-project-icon">
                    <a href="{{ path('edit_degree', {'id': degree.id}) }}" class="fas fa-edit dash-list-project-icon"></a>
                    <a href="#" class="fas fa-trash-alt dash-list-project-icon delete" data-id="{{ degree.id }}"></a>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="add-project">
            <a class="fas fa-plus" href="{{ path('create_degree') }}"></a>
        </div>
    </div>

    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/dashboard.js') }}"></script>
    {% endblock %}