{% extends 'dashboard/base_dash.html.twig' %}


{% block title %}New degree{% endblock %}
{% block stylesheets %}{% endblock %}


{% block body %}


<div class="dash-tool">
    <div class="form-project">
        <h2 class="title-project">
        
            Add a degree
        </h2>

        {{ form_start(form) }}
            <div class="form-project-in">
                <div class="form-project-row">
                    <div class="form-project-error">
                        {{ form_errors(form.title) }}
                    </div>
                    <div class="form-project-widget">
                        {{ form_widget(form.title, { 'attr' : {"placeholder" : "Title of the degree"}}) }}
                    </div>
                </div>

                <div class="form-project-row">
                    <div class="form-project-error">
                        {{ form_errors(form.location) }}
                    </div>
                    <div class="form-project-widget">
                        {{ form_widget(form.location, { 'attr' : {"placeholder" : "Location of the degree"}}) }}
                    </div>
                </div>

                <div class="form-project-row">
                    <div class="form-project-error">
                        {{ form_errors(form.date) }}
                    </div>
                    <div class="form-project-widget">
                        {{ form_widget(form.date, { 'attr' : {"placeholder" : "Date of the degree"}}) }}
                    </div>
                </div>

                <div class="form-project-row">
                    <div class="form-project-error">
                        {{ form_errors(form.year) }}
                    </div>
                    <div class="form-project-widget">
                        {{ form_widget(form.year, { 'attr' : {"placeholder" : "Year of the degree"}}) }}
                    </div>
                </div>

                <div class="form-project-row">
                    <div class="form-project-error">
                        {{ form_errors(form.description) }}
                    </div>
                    <div class="form-project-widget">
                        {{ form_widget(form.description, { 'attr' : {"placeholder" : "Description of the degree"}}) }}
                    </div>
                </div>

                <div class="form-project-row">
                    <div class="form-project-error">
                        {{ form_errors(form.imageFile) }}
                    </div>
                    <div class="form-project-widget">
                        {{ form_widget(form.imageFile, { 'attr' : {"placeholder" : "image"}}) }}
                    </div>
                </div>

                <div class="form-project-row">
                    <button class="btn-form-project">
                        
                        
                        Add degree
                        
                    </button>
                </div>
            
            </div>
        {{ form_end(form) }}
    </div>
</div>



{% endblock %}










