{% extends 'dashboard/base_dash.html.twig' %}



{% block stylesheets %}{% endblock %}


{% block body %}


<div class="dash-tool">
    <div class="form-skill">
        <h2 class="title-project">
        
            Add a Skill
        </h2>

        {{ form_start(form) }}
            <div class="form-skill-in">
                <div class="form-project-row">
                    <div class="form-project-error">
                        {{ form_errors(form.title) }}
                    </div>
                    <div class="form-project-widget">
                        {{ form_widget(form.title, { 'attr' : {"placeholder" : "Name of the skill"}}) }}
                    </div>
                </div>

                <div class="form-project-row">
                    <div class="form-project-error">
                        {{ form_errors(form.level) }}
                    </div>
                    <div class="form-project-widget">
                        {{ form_widget(form.level, { 'attr' : {"placeholder" : "Level of the skill"}}) }}
                    </div>
                </div>

                <div class="form-project-row">
                    <div class="form-project-error">
                        {{ form_errors(form.imageFile) }}
                    </div>
                    <div class="form-project-widget">
                        {{ form_widget(form.imageFile, { 'attr' : {"placeholder" : "image"}}) }}
                    </div>
                </div>

                <div class="form-project-row">
                    <button class="btn-form-project">
                        
                        
                        Add skill
                        
                    </button>
                </div>
            
            </div>
        {{ form_end(form) }}
    </div>
</div>



{% endblock %}










